{% extends "base.html" %}
{% block content %}

<main>
    <section class="award-section" id="award">
        <div class="container">
            <h1 class="menu-title">Awards</h1>

            <div class="award-grid">
                {% for award in award_list %}
                <div class="award-card">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 class="award-title">{{ award.title }}</h2>
                        <p class="award-date">{{ award.date_received|date:"M Y" }}</p>
                    </div>
                    {% if award.thumbnail %}
                    <img class="award-thumbnail" src="{{ award.thumbnail }}" alt="{{ award.title }} thumbnail">
                    {% endif %}
                    <p class="award-description">{{ award.description }}</p>
                    <p class="award-issuer">Issued by: {{ award.issuer }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}